<% @ship_upgrades.each do |upgrade| %>
  <p>Name: <%= upgrade.name %></p>
  <p>Recipe: <%= upgrade.recipe %></p>
  <p>Category <%= upgrade.category %></p>
  <br />
<% end %>

<h2>Import Ship upgrades</h2>

<%= form_tag import_ship_upgrades_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
