<% @alloys.each do |upgrade| %>
  <p><%= upgrade.name %> <%= upgrade.base_cost %> <%= upgrade.recipe %></p>
<% end %>

<h2>Import Alloys</h2>

<%= form_tag import_alloys_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
