<% @multitool_upgrades.each do |upgrade| %>
  <p><%= upgrade.name %> <%= upgrade.recipe %> <%= upgrade.category %></p>
<% end %>

<h2>Multitool Upgrades</h2>

<%= form_tag import_multitool_upgrades_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
