<p id="notice"><%= notice %></p>

<p>
  <strong>Upgrades:</strong>
  <% @ship.ship_upgrades.each do |upgrade| %>
    <%= upgrade.name %>
    <%= upgrade.recipe %>
    <%= upgrade.category %>
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @ship.user_id %>
</p>

<%= link_to 'Edit', edit_ship_path(@ship) %> |
<%= link_to 'Back', ships_path %>
