<!-- charts of all info, possibly tabs , acordian?-->


<ul class="accordion-tabs-minimal">
  <li class="tab-header-and-content">
    <a href="#" class="tab-link is-active">Alloys</a>
    <div class="tab-content">
      <h1>Listing Alloys</h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Base cost in store</th>
            <th>Recipe</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @alloys.each do |alloy| %>
            <tr>
              <td><%= alloy.name %></td>
              <td><%= alloy.base_cost %></td>
              <td><%= alloy.recipe %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Elements</a>
    <div class="tab-content">
      <h1>Listing Elements</h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Base cost in store</th>
            <th>Where to find</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @elements.each do |element| %>
            <tr>
              <td><%= element.name %></td>
              <td><%= element.base_cost %></td>
              <td><%= element.recipe %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Energy</a>
    <div class="tab-content">
      <h1>Listing Energies</h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Base cost in store</th>
            <th>Recipe</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @energys.each do |energy| %>
            <tr>
              <td><%= energy.name %></td>
              <td><%= energy.base_cost %></td>
              <td><%= energy.recipe %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
     </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Technology</a>
    <div class="tab-content">
      <h1>Listing Technologies</h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Base cost in store</th>
            <th>Recipe</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @technologies.each do |technology| %>
            <tr>
              <td><%= technology.name %></td>
              <td><%= technology.base_cost %></td>
              <td><%= technology.recipe %></td>
    </tr>
          <% end %>
        </tbody>
      </table>
      </div>
        </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Trade Commodities</a>
    <div class="tab-content">
      <h1>Listing Trade Commodities</h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Base cost in store</th>
            <th>Recipe</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @trade_commodities.each do |trade| %>
            <tr>
              <td><%= trade.name %></td>
              <td><%= trade.base_cost %></td>
              <td><%= trade.recipe %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
        </div>
  </li>
</ul>
