</p>Dashboard</p>

<p><%= @ship.name %></p>
<p><%= @exosuit.name %></p>
<p><%= @multitool.name %></p>

<p><%= link_to 'New Ship', new_ship_path %> | <%= link_to 'New Multitool', new_multitool_path %> | <%= link_to 'New Exosuit', new_exosuit_path %></p>
