<h2>Ship</h2>
<p><%= @ship.name %></p>

<% @ship.ship_upgrades.each do |upgrade| %>
  <%= upgrade.name %>
<% end %>

<h2>Exosuit</h2>
<p><%= @exosuit.name %></p>


<% @exosuit.exosuit_upgrades.each do |upgrade| %>
  <%= upgrade.name %>
<% end %>

<h2>Multitool</h2>
<p><%= @multitool.name %></p>


<% @multitool.multitool_upgrades.each do |upgrade| %>
  <%= upgrade.name %>
<% end %>

<p><%= link_to 'New Ship', new_ship_path %> | <%= link_to 'New Multitool', new_multitool_path %> | <%= link_to 'New Exosuit', new_exosuit_path %></p>
