<h2>Total Distance Traveled:</h2>
<h3><%= @total %> Light Years</h3>

<h4>Todays Travels</h4>
<p>You have traveled <%= @todays_total%> light years today.</p>
<% @todays.each do |d| %>
  <p><%= d.length %> <%= d.direction %></p>
<% end %>

<h4>All Travels</h4>
<% @distances.each do |d| %>
  <p><%= d.length %> <%= d.direction %></p>
<% end %>
