<% @energys.each do |upgrade| %>
  <p><%= upgrade.name %> <%= upgrade.base_cost %> <%= upgrade.recipe %></p>
<% end %>

<h2>Import Energy</h2>

<%= form_tag import_energys_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
