<p id="notice"><%= notice %></p>

<p>
  <strong>Length:</strong>
  <%= @distance.length %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @distance.direction %>
</p>

<%= link_to 'Edit', edit_distance_path(@distance) %> |
<%= link_to 'Back', distances_path %>
