<%= form_for(@exosuit) do |f| %>
  <% if @exosuit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exosuit.errors.count, "error") %> prohibited this exosuit from being saved:</h2>

      <ul>
      <% @exosuit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>


  <%= f.fields_for :exosuit_upgrades do |ff| %>
  <h2>Edit upgrades</h2>
    <div>
      <div class="subfield">
        <%= ff.label :name %><br>
        <%= ff.text_field :name %>
      </div>
      <div class="subfield">
        <%= ff.label :recipe %><br>
        <%= ff.text_field :recipe %>
      </div>
      <div class="subfield">
        <%= ff.label :category %><br>
        <%= ff.text_field :category %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
